{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "fonts/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">


    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-extras.js" %}"></script>

    <script src="{% static "js/main.js" %}"></script>

    <title>Title</title>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="https://rm-content.s3.amazonaws.com/5194a14fc8cfb50000000169/422560/upload-7cb9ac80-75bd-11e5-abb7-57bb780c8fc6.png" height="20pt" style="opacity: 1;" url="https://rm-content.s3.amazonaws.com/5194a14fc8cfb50000000169/422560/upload-7cb9ac80-75bd-11e5-abb7-57bb780c8fc6.png"></a>

        </div>

        <div class="navbar-collapse collapse">
{#                {% block navbar_search_form %}{% search_form "all" %}{% endblock %}#}
{#                {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}#}

            <ul class="nav navbar-nav">
                <li><a href="">Наші проекти</a></li>
                <li><a href="">Cхема метро</a></li>
                <li><a href="">Як нам допомогти</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-brand"><div class="fb-like" data-href="https://www.facebook.com/agentyzmin" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></li>
                <li class="navbar-brand"><a href="https://twitter.com/agentyzmin" class="twitter-follow-button" data-show-count="false">Follow @agentyzmin</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
                <li class="navbar-brand"><img height="20" width="20" src="http://images.seeklogo.net/2016/05/instagram-logo-vector-download.jpg" alt=""></li>
            </ul>

        </div>
    </div>
</div>

<div class="featured-image-container img-responsive">
    <img class="" id="featured-image" src="/media/uploads/blog/rsz_upload-09681d30-9f5a-11e6-ab59-ebb2a0306d64.jpg" onload="featured_image_resize()">

</div>

<div class="container page-data">
    <div class="row" id="title-row">
        <div class="col-sm-3" id="status">Проект триває</div>
        <div class="col-sm-9"><h1>Адресні покажчики</h1></div>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <div class="project-authors">
                <p class="project-authors-title">КЕРІВНИК ПРОЕКТУ</p>
                <p>Максим Головко</p>
            </div>
            <div class="project-authors">
                <p class="project-authors-title">АРТ-ДИРЕКТОР</p>
                <p>Ігор Скляревський</p>
            </div>
            <div class="project-authors">
                <p class="project-authors-title">ДИЗАЙНЕРИ</p>
                <p>Олександр Колодько</p>
                <p>Максим Головко</p>
                <p>Владислав Кулик</p>
                <p>Анастасія Бурлак&nbsp;</p>
            </div>
            <div class="project-authors">
                <p class="project-authors-title">ДОСЛІДНИК</p>
                <p>Юрій Грановський</p>
            </div>
            <div class="project-authors">Команда &laquo;Агентів змін&raquo; дякує Олегу Котляренку за&nbsp;ініціювання розробки нових адресних покажчиків.</div>
        </div>
        <div class="col-sm-9" id="description">
            Майже півтори сотні вулиць у Києві змінили назву протягом останніх двох років. Це означає, що адресні таблички доведеться замінити на тисячах будинків. Нам здається, це чудова можливість навести, нарешті, лад у тому «зоопарку» табличок, які за відсутності єдиного стандарту створили хаос на стінах будинків.
            Ми розробили ескізний зразок і нещодавно підписали меморандум з міським головою щодо розробки нових адресних покажчиків на основі нашого прототипу.
        </div>

    </div>

    <div class="row page-data-block">
        <h2 class="col-md-12">Проблема</h2>
        <p class="col-md-12">В Києві відсутня єдина система адресних покажчиків. За декілька десятиліть на стінах будинків назбиралась чимала кількість різноманітних табличок. Всі вони різних розмірів, кольорів, ба навіть з різним інформаційним наповненням. На одних ми бачимо лише назву вулиці, на інших — ще й номер будинку, під’їзду, кількість квартир, фото Батьківщини-матері, а в найгіршому випадку ще й рекламу.</p>
    </div>
    <div class="row page-data-block">
        <img class="col-md-12 img-responsive" src="https://rm-content.s3.amazonaws.com/565d94b631349bf032b4b983/422560/upload-d3f4e0a0-9f5b-11e6-9888-4742d456535b.jpg" alt="" class="img-responsive">
        <div class="img-description col-md-12">Калейдоскоп київських адресних покажчиків</div>
    </div>

    <div class="row page-data-block">
        <p class="col-md-12">У більшості адресних табличок шрифтова робота низької якості, хоча шрифт є найважливішою складовою таблички, де, окрім написів, немає інших інформаційних елементів. Зараз розмір таблички фіксований, а назву вулиці втискують в задані розміри, тому написи нівечать, хто як може: розтягують, звужують, зменшують. На тлі такої вакханалії зі шрифтом можна вже й не згадувати про засилля непотрібних декоративних елементів, які засмічують таблички і погіршують читабельність.</p>
    </div>

    <div class="row page-data-block">
        <h2 class="col-md-12">Виклик</h2>
        <p class="col-md-12">Адресна табличка — це немов візитівка міста. Навіть якщо табличка має сумнівний естетичний вигляд, але в її дизайні присутній характерний елемент, він одразу відрізняє це місто від інших.</p>
        <div class="container page-data-fullwidth page-data-block">
            <div class="container">
                <div class="thumbnail borderless col-md-3 col-sm-6">
                    <img src="{% static "/img/upload-f6c348e0-9f67-11e6-bf79-c3890be5d41f.jpg" %}" alt="" class="img-responsive">
                </div>
                <div class="thumbnail borderless col-md-3 col-sm-6">
                    <img src="{% static "/img/upload-fc277131-9f67-11e6-9144-5bfcd664008c.jpg" %}" alt="" class="img-responsive">
                </div>
                <div class="thumbnail borderless col-md-3 col-sm-6">
                    <img src="{% static "/img/upload-06c07470-9f68-11e6-85e4-213fa832989d.jpg" %}" alt="" class="img-responsive">
                </div>
                <div class="thumbnail borderless col-md-3 col-sm-6">
                    <img src="{% static "/img/upload-0fc08831-9f68-11e6-8582-2119a6b637e9.jpg" %}" alt="" class="img-responsive">
                </div>
            </div>
            <div class="img-description col-md-12">
                <p>
                    Приклади табличок з різних міст світу (Париж, Стамбул, Стокгольм, Лондон).
                </p>
                <p>
                    Більше тут: www.pinterest.com/agentyzmin/street-sign
                </p>
            </div>
        </div>
        <p class="col-md-12">Київ складається з нашарувань різноманітних архітектурних стилів та планувальних систем: вузькі вулиці з модерновими будинками початку минулого століття, широкі проспекти спальних районів з панельною забудовою, великі промислові райони розміром з невелике місто, а на додачу ще й столітні храми. Разом з тим, в Києві майже не збереглось історичних кварталів, споруджених в єдиному стилі. Більшість центральних вулиць — це пазл, який зібрано з розташованих поруч будинків, між якими прірва в масштабі, стилістиці та даті спорудження. Але єдина система табличок повинна однаково добре виглядати та використовуватись в будь-якому середовищі.</p>
    </div>

    <div class="row page-data-block page-data-fullwidth" style="background-color: #efefef">
        <div class="container page-data">
            <div class="row ">
                <h2 class="col-md-12">Дизайн-рішення</h2>
            </div>
        </div>
        <img class="img-responsive " src="{% static "/img/Screenshot from 2017-02-28 14:43:48.png" %}" alt="" style="margin: auto; max-width: 100vw; width: 970pt">
    </div>

    <div class="row page-data-block">
        <h3 class="col-md-12">
            Типовий розмір
        </h3>
        <p class="col-md-12">
            Ми проаналізували назви всіх 2387 вулиць з розподілом по кількості слів та кількості символів і визначили довжину назв, яка зустрічається найчастіше — 10 символів. Її й взяли за основу для типового розміру таблички.
        </p>
        <div class="col-md-12 page-data-fullwidth container-fluid" >
            <div align="center">
                <div class="img-thumbnail borderless">
                    <img class="img-responsive" src="{% static "/img/upload-1dc4c5c0-9f6f-11e6-ad36-03674ce952a1.png" %}" alt="">
                    <div class="img-description">Діаграма кількості слів у назвах вулиць</div>
                </div>
                <div class="img-thumbnail borderless">
                    <img class="img-responsive" src="{% static "/img/upload-badb68f0-9f6a-11e6-8a77-112e6195984f.png" %}" alt="">
                    <div class="img-description">Діаграма кількості символів у назвах з розподілом по районах</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row page-data-block">
        <h3 class="col-md-12">Горизонтальний варіант</h3>
        <p class="col-md-12">
            Щоб не нашкодити естетичному вигляду будівлі, за один з основних принципів дизайну табличок ми взяли їхню відповідність пропорціям та розмірам декоративних елементів будівлі. На фасадах краще компонується горизонтальний варіант табличок, оскільки він відповідає горизонтальній розбивці рустового каменю, що часто зустрічається в старих будинках. Вертикальна ж табличка стає занадто великою, оскільки повинна бути значної ширини, щоб написи лишались зручними для читання.
        </p>
        <div class="col-md-12 page-data-fullwidth" align="center" style="display: flex;  flex-flow: row wrap; justify-content: center">
            <div class="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-e0125e01-9f7c-11e6-8582-2119a6b637e9.jpg" %}" alt="">
                <div class="img-description">Примірка вертикального варіанту таблички.</div>
            </div>
            <div class=" borderless" >
                <div class="" style="display: flex;  flex-flow: row wrap; justify-content: center">
                    <img class="img-thumbnail img-responsive borderless" src="{% static "/img/upload-88225dd0-9f81-11e6-85e4-213fa832989d.jpg" %}" alt="">
                    <img class="img-thumbnail img-responsive borderless" src="{% static "/img/upload-95043fa0-9f81-11e6-bf32-b1b68bdc39a5.jpg" %}" alt="">
                </div>
                <div class="img-description">Примірка горизонтального варіанту таблички</div>
            </div>

        </div>
    </div>

    <div class="row page-data-block">
        <h3 class="col-md-12">Синє тло</h3>
        <p class="col-md-12">
            В Києві кожну будівлю пофарбовано у власний колір, тому тло нашої таблички повинно бути контрастним до більшості з них та виділяти табличку серед інших вивісок. Для цього ми обрали темно-синій колір, наближений до кольору старих адресних табличок, які іноді ще можна знайти в місті.
        </p>
        <div class="col-md-12" align="center" style="display: flex;  flex-flow: row wrap; justify-content: center">
             <div class="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-dfbcd1b0-9f81-11e6-bf79-c3890be5d41f.jpg" %}" alt="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-e56d4540-9f81-11e6-b2fe-ed46dd59f3d2.jpg" %}" alt="">
                <div class="img-description">Старі сині покажчики</div>
            </div>
        </div>
    </div>

    <div class="row page-data-block">
        <h3 class="col-md-12">Підсвітка знаку</h3>
        <p class="col-md-12">
            Останній варіант адресних табличок, затверджений до Євро 2012, розробили у вигляді лайтбоксів. У такому вигляді покажчики використовують лише в пострадянських країнах, оскільки вулиці часто взагалі неосвітлені. Однак неякісне освітлення вулиць не повинно погіршувати адресні покажчики, тому ми використовуємо металеві таблички з емальованими написами. Їх важче пошкодити, ніж пластикові лайтбокси, вони мають естетичніший вигляд та кращу читабельність.
        </p>
        <div class="col-md-12 page-data-fullwidth" style="display: flex;  flex-flow: row wrap; justify-content: center">
            <div class="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-437aad80-a0ef-11e6-8c44-03adc43df96d.jpg" %}" alt="">
                <div class="" style="flex-direction: column; justify-content: flex-start">
                    <div><b>Лайтбокси для «Євро–2012»</b></div>
                    <div>29 працює</div>
                    <div>119 не працює</div>
                    <div>80% лайтбоксів не працюють</div>
                </div>
            </div>
            <div class="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-48217940-a0ef-11e6-b3e7-6773efd45ae9.jpg" %}" alt="">
                <div class="">
                    <div><b>Радянські лайтбокси</b></div>
                    <div>2 працює</div>
                    <div>15 не працює</div>
                    <div>88% лайтбоксів не працюють</div>
                </div>
            </div>
            <div class="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-303ef8c0-a0ef-11e6-8bf5-4bff5e3e19d0.jpg" %}" alt="">
                <div class="" style="justify-content: flex-start">
                    <div><b>Прибудинкові ліхтарі</b></div>
                    <div>23 працює</div>
                    <div>228 не працює</div>
                    <div>91% ліхтарів не працюють</div>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="red-box">
            Сумарно 87% покажчиків з підсвіткою не працюють
        </div>

        <div class="col-md-12">
            <div class="col-md-12">
                Перевірені вулиці:
            </div>
            <div class="col-sm-3" style="">
                <div>Мала Житомирська</div>
                <div>Артилерійський пров.</div>
                <div>Дегтярівська</div>
                <div>Дмитрівська</div>
            </div>
            <div class="col-sm-3" style="">
                <div>Еспланадна</div>
                <div>Шота Руставелі</div>
                <div>Саксаганського</div>
                <div>Велика Васильківська</div>
            </div>
            <div class="col-sm-3" style="">
                <div>Скоропадського</div>
                <div>Жилянська</div>
                <div>Гончара</div>
                <div>Велика Житомирська</div>
            </div>
            <div class="col-sm-3" style="">
                <div>Тургенівська</div>
                <div>Рогнідинська</div>
                <div>Басейна</div>
                <div>пр-т Перемоги (частково)</div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="col-md-12 page-data-block">Розділені покажчики</h2>
        <p class="col-md-12 page-data-block">
            Для більшої гнучкості в компонуванні вивісок на фасаді та для зручнішого розташування вздовж вулиць ми розділили між собою вказівники назви вулиці та номеру будинку. Тепер це два незалежних елементи, кожен з яких розміщується у відведеному для нього місці, проте нічого не заважає компонувати їх як єдиний знак. Покажчики вулиці розміщуються в місцях, де людина потрапляє на вулицю (наприклад, на кутах кварталів), а покажчики номерів — на кожному будинку. Так ми даємо лише ту інформацію, яка необхідна в конкретному місці, та зменшуємо кількість табличок.
        </p>
        <div class="col-md-12 page-data-block" align="center" style="display: flex;  flex-flow: row wrap; justify-content: center">
            <div class="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-f4f53ca0-9f88-11e6-aa9b-d973f8381b8c.jpg" %}" alt="">
                <div class="img-description">Примірка горизонтального варіанту табличок</div>
            </div>
        </div>
        <p class="col-md-12 page-data-block">
            В спальних районах будинки зазвичай стоять далеко один від одного і від проїжджої частини, оскільки відділені широкими тротуарами і газонами. Навіть якщо вулиця вузька, відстань між будинками все одно лишається значною, і розгледіти з протилежного боку вулиці написи на табличці буде проблематично. Щоб уникнути подібних ситуацій, ми підберемо різні типорозміри, котрі відрізнятимуться габаритами табличок: вони краще відповідатимуть масштабу оточення.
        </p>
    </div>

    <div class="row page-data-block">
        <h2 class="col-md-12">Транслітерація</h2>
        <p class="col-md-12">
            Якщо ви дочитали до цих пір, і вам в кожній фотографії наших табличок все ще ріже око транслітерація вулиць, то прочитайте нашу публікацію щодо переваг транслітерації над перекладом
        </p>
        <div class="col-md-12 page-data-block" align="center" style="display: flex;  flex-flow: row wrap; justify-content: center">
            <div class="">
                <img class="img-thumbnail borderless img-responsive" src="{% static "/img/upload-a44a45a0-9f80-11e6-93ff-09e5465a46cf.jpg" %}" alt="">
            </div>
        </div>

    </div>

    <div class="row page-data-block">
        <h2 class="col-md-12">Що далі</h2>
        <p class="col-md-12">
            Зараз ми розробляємо типорозміри табличок для різних видів забудови: центр та мікрорайони, збираємо статистику відстаней між будинками. Невдовзі про все розповімо на відкритій презентації, щоб отримати ваші відгуки та рекомендації, а потім впровадимо покажчики в тестовому кварталі, щоб перевірити їх на справжніх будинках, містянах і туристах.
        </p>
    </div>


</div>

<footer class="footer" style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <p class="site-info text-center">
        наші партнери
    </p>
    <div id="partners" style="display: flex; justify-content: space-around; align-items: center">
        <a href="#" class="footer-image"><img src="{% static "img/upload-a9f7c610-2efd-11e6-a310-fbc242ae00bd.png" %}" alt=""></a>
        <a href="#" class="footer-image"><img src="{% static "img/upload-5992d490-2efc-11e6-94f2-c3123c8d99ba.png" %}" alt=""></a>
        <a href="#" class="footer-image"><img src="{% static "img/upload-b36a23a0-2efd-11e6-aca3-0309a26a5aaa.png" %}" alt=""></a>
        <a href="#" class="footer-image"><img src="{% static "img/upload-2ffa76a0-9091-11e6-b813-35d4a1eb363c.png" %}" alt=""></a>
        <a href="#" class="footer-image"><img src="{% static "img/upload-de1f4360-9090-11e6-9985-1d1ebaecb855.png" %}" alt=""></a>
        <a href="#" class="footer-image"><img src="{% static "img/upload-b1d167c0-9090-11e6-b936-85f3261bb1e6.png" %}" alt=""></a>
    </div>
</footer>

</body>
</html>