{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "fonts/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">


    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-extras.js" %}"></script>

    <script src="{% static "js/main.js" %}"></script>

    <title>Title</title>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="https://rm-content.s3.amazonaws.com/5194a14fc8cfb50000000169/422560/upload-7cb9ac80-75bd-11e5-abb7-57bb780c8fc6.png" height="20pt" style="opacity: 1;" url="https://rm-content.s3.amazonaws.com/5194a14fc8cfb50000000169/422560/upload-7cb9ac80-75bd-11e5-abb7-57bb780c8fc6.png"></a>

        </div>

        <div class="navbar-collapse collapse">
{#                {% block navbar_search_form %}{% search_form "all" %}{% endblock %}#}
{#                {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}#}

            <ul class="nav navbar-nav">
                <li><a href="">Наші проекти</a></li>
                <li><a href="">Cхема метро</a></li>
                <li><a href="">Як нам допомогти</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-brand"><div class="fb-like" data-href="https://www.facebook.com/agentyzmin" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></li>
                <li class="navbar-brand"><a href="https://twitter.com/agentyzmin" class="twitter-follow-button" data-show-count="false">Follow @agentyzmin</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
                <li class="navbar-brand"><img height="20" width="20" src="http://images.seeklogo.net/2016/05/instagram-logo-vector-download.jpg" alt=""></li>
            </ul>

        </div>
    </div>
</div>

<div class="featured-image-container img-responsive">
    <img class="" id="featured-image" src="/media/uploads/blog/upload-09681d30-9f5a-11e6-ab59-ebb2a0306d64.jpg" onload="featured_image_resize()">

</div>

<div class="container page-data">
    <div class="row" id="title-row">
        <div class="col-sm-3" id="status">Проект триває</div>
        <div class="col-sm-9"><h1>Адресні покажчики</h1></div>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <div class="project-authors">
                <p class="project-authors-title">КЕРІВНИК ПРОЕКТУ</p>
                <p>Максим Головко</p>
            </div>
            <div class="project-authors">
                <p class="project-authors-title">АРТ-ДИРЕКТОР</p>
                <p>Ігор Скляревський</p>
            </div>
            <div class="project-authors">
                <p class="project-authors-title">ДИЗАЙНЕРИ</p>
                <p>Олександр Колодько</p>
                <p>Максим Головко</p>
                <p>Владислав Кулик</p>
                <p>Анастасія Бурлак&nbsp;</p>
            </div>
            <div class="project-authors">
                <p class="project-authors-title">ДОСЛІДНИК</p>
                <p>Юрій Грановський</p>
            </div>
            <div class="project-authors">Команда &laquo;Агентів змін&raquo; дякує Олегу Котляренку за&nbsp;ініціювання розробки нових адресних покажчиків.</div>
        </div>
        <div class="col-sm-9" id="description">
            Майже півтори сотні вулиць у Києві змінили назву протягом останніх двох років. Це означає, що адресні таблички доведеться замінити на тисячах будинків. Нам здається, це чудова можливість навести, нарешті, лад у тому «зоопарку» табличок, які за відсутності єдиного стандарту створили хаос на стінах будинків.
            Ми розробили ескізний зразок і нещодавно підписали меморандум з міським головою щодо розробки нових адресних покажчиків на основі нашого прототипу.
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 page-data-block">
            <h2>Проблема</h2>
            <p>В Києві відсутня єдина система адресних покажчиків. За декілька десятиліть на стінах будинків назбиралась чимала кількість різноманітних табличок. Всі вони різних розмірів, кольорів, ба навіть з різним інформаційним наповненням. На одних ми бачимо лише назву вулиці, на інших — ще й номер будинку, під’їзду, кількість квартир, фото Батьківщини-матері, а в найгіршому випадку ще й рекламу.</p>
        </div>
        <div class="col-sm-12 page-data-block">
            <img src="https://rm-content.s3.amazonaws.com/565d94b631349bf032b4b983/422560/upload-d3f4e0a0-9f5b-11e6-9888-4742d456535b.jpg" alt="" class="img-responsive">
            <div class="img-description">Калейдоскоп київських адресних покажчиків</div>
        </div>

        <div class="col-sm-12 page-data-block">
            <p>У більшості адресних табличок шрифтова робота низької якості, хоча шрифт є найважливішою складовою таблички, де, окрім написів, немає інших інформаційних елементів. Зараз розмір таблички фіксований, а назву вулиці втискують в задані розміри, тому написи нівечать, хто як може: розтягують, звужують, зменшують. На тлі такої вакханалії зі шрифтом можна вже й не згадувати про засилля непотрібних декоративних елементів, які засмічують таблички і погіршують читабельність.</p>
        </div>

        <div class="col-sm-12 page-data-block">
            <h2>Виклик</h2>
            <p>Адресна табличка — це немов візитівка міста. Навіть якщо табличка має сумнівний естетичний вигляд, але в її дизайні присутній характерний елемент, він одразу відрізняє це місто від інших.</p>
        </div>

        <div class="col-sm-12 page-data-block">
            <p>Київ складається з нашарувань різноманітних архітектурних стилів та планувальних систем: вузькі вулиці з модерновими будинками початку минулого століття, широкі проспекти спальних районів з панельною забудовою, великі промислові райони розміром з невелике місто, а на додачу ще й столітні храми. Разом з тим, в Києві майже не збереглось історичних кварталів, споруджених в єдиному стилі. Більшість центральних вулиць — це пазл, який зібрано з розташованих поруч будинків, між якими прірва в масштабі, стилістиці та даті спорудження. Але єдина система табличок повинна однаково добре виглядати та використовуватись в будь-якому середовищі.</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
        <p class="site-info text-center">
            футер
        </p>
        </div>
    </div>
</footer>

</body>
</html>