body{
    font-family: proba_nav2medium;
}



.featured-image-container{
    margin-top: 50px;
    max-height: 250pt;
    overflow: hidden;
    margin-bottom: 50pt;
}

#featured-image{
    width: 100vw;

}

.project-preview{
    padding-bottom: 15pt;
}

h1, h2, h3{
    font-family: proba_nav2bold;
}


#description{
    font-size: 17pt;
}

#status{
    text-transform: uppercase;
    font-family: proba_nav2light;
    color: rgba(34, 34, 34, 0.5);
    letter-spacing: 2.2pt;
    font-size: 10pt;
}

.project-authors-title{
    text-transform: uppercase;
    font-family: proba_nav2medium;
    font-size: 8pt;
    letter-spacing: 2.2pt;
}

.project-authors{
    padding-bottom: 8pt;
    font-size: 10pt;
}

.project-authors p{
    margin-bottom: 0.3em;
}

.page-data{
max-width: 600pt;
font-size: 13pt;
}

#title-row{
    display: flex;
    align-items: baseline;
    padding-bottom: 20pt;
    flex-wrap: wrap;
}

.navbar-brand{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default{
    background-color: white;
}

.img-description{
    padding-top: 5pt;
    padding-bottom: 5pt;
    font-style: italic;
    font-size: 9pt;
    text-align: center;
}

.page-data-block{
    padding-top: 10pt;
    padding-bottom: 10pt;

}

.footer{

    height: 200pt;
    background-color: #fafafa;
}

.page-data-fullwidth{
    margin-left: calc((100% - 100vw)/2);
    margin-right: calc((100% - 100vw)/2);
    width: 100vw;
}

.borderless{
    border: none;
}

