body{
    font-family: proba_nav2medium;
}



.featured-image-container{
    margin-top: 50px;
    max-height: 250pt;
    overflow: hidden;
    margin-bottom: 50pt;
}

#featured-image{
    width: 100%;

}

.project-preview{
    padding-bottom: 15pt;
}

h1{
    font-weight: bold;
    font-family: proba_nav2bold;
}

h2{
    font-weight: bold;
}
#description{
    font-size: 17pt;
}

#status{
    text-transform: uppercase;
    font-family: proba_nav2light;
    color: rgba(34, 34, 34, 0.5);
    letter-spacing: 2.2pt;
}

.project-authors-title{
    text-transform: uppercase;
    font-family: proba_nav2light;
    font-size: 8pt;
    letter-spacing: 2.2pt;
}

.project-authors{
    line-height: 80%;
    padding-bottom: 10pt;
}

.page-data{
    max-width: 600pt;
}


#title-row{
    display: flex;
    align-items: baseline;
    padding-bottom: 20pt;
}

.navbar-brand{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default{
    background-color: white;
}