{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>
Агенти змін
</h2>
<p>
Нова схема ліній у вагонах метро. Нові зрозумілі плакати-оголошення та проїзні картки для метро. Вказівники для велосипедистів. Редизайн фунікулера та міської електрички. Відеоінфографіка у вагонах Інтерсіті+.

На все це — один рік, нуль гривень, жодного протекторату від влади, кілька навіжених дизайнерів-добровольців, і небайдужі кияни.

Як це можливо? Ми cтерли кордон між дизайнером і користувачем: побудували десятитисячну спільноту киян, які творять дизайн свого міста разом з нами.
</p>
{% endblocktrans %}
{% endblock %}



